/* Coolors Exported Palette - coolors.co/04151f-183a37-681414-efd6ac-c44900 */

/* RGB */
// $green: rgba(24, 58, 55, 1);
// $red: rgba(104, 20, 20, 1);
// $sand: rgba(239, 214, 172, 1);
// $orange: rgba(196, 73, 0, 1);

/* Coolors Exported Palette - coolors.co/681414-e1f8ea-92ac86-696047-4e6151 */

/* RGB */
$black: rgba(4, 21, 31, 1);
$red: rgba(104, 20, 20, 1);
$lightgreen: #d8ede5;
$green: rgba(146, 172, 134, 1);
$brown: rgba(105, 96, 71, 1);
$darkgreen: rgba(78, 97, 81, 1);
