LimitRequestBody 0
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ index.php?p=$1 [NC,L]
############ END OF .htaccess FILE #############
